<h1>登録情報編集</h1>
<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @user, local: true do |f| %>
  <div>
    <%= f.label :name, "名前" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email, "メールアドレス" %>
    <%= f.text_field :email %>
  <div>

  <%= f.submit "更新する", class: "btn btn-primary px-4" %>
  <%= link_to "戻る", user_path(@user), class: "btn btn-primary px-4" %>

<% end %>

<hr>

<!-- 退会ボタン -->
<%= link_to "退会", user_path(@user), data: { turbo_method: :delete, turbo_confirm: "本当に退会しますか？" },
    class: "btn btn-danger px-4" %>