<% admin = local_assigns[:admin] %>
    <div>
      <div class="post-container">
        <table class="post-table">
          <thead>
            <tr>
              <th>日付</th>
              <th>ユーザー名</th>
              <th>距離[km]</th>
              <th>時間[時:分:秒]</th>
              <th>ペース[分:秒/km]</th>
              <%# 管理者以外は詳細リンクを表示 %>
              <% if !admin && show_detail %>
                <th></th>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <% if posts.any? %>
              <% posts.each do |post| %>
              <tr>
                <td><%= post.date %></td>
                <td><%= post.user.name %></td>
                <td><%= post.distance %></td>
                <td><%= post.formatted_time %></td>
                <td><%= post.formatted_pace %></td>
                <% if !admin && show_detail %>
                  <td>
                    <%= link_to "詳細", post_path(post) %>
                  </td>
                <% end %>
              </tr>
              <% end %>

            <% else %>
              <tr>
                <td colspan="<%= admin ? 5 : 6 %>">投稿がまだありません</td>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>
    </div>