<h1>ユーザー管理</h1>

<div class="col-md-10 offset-md-1">
          <table class="admins-user-table">
            <thead>
            <tr>
              <th>ユーザーid</th>
              <th>ユーザー名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
              <th>権限</th>
              <th>詳細</th>
            </tr>
            </thead>

            <tbody>
              <% if @users.any? %>
              <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.status_label %></td>
                <td><%= user.admin? ? "管理者" : "一般" %></td>
                <td>詳細</td>
              </tr>
              <% end %>

              <% else %>
                <tr>
                  <td colspan="6">ユーザーがまだいません</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>