<h1>ユーザー管理詳細</h1>

<div class="col-md-10 offset-md-1">
  <table class="admins-user-table">
    <thead>
      <tr>
        <th>ユーザーid</th>
        <th>ユーザー名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
        <th>権限</th>
        <th>投稿数</th>
        <th>コミュニティ参加数</th>
        <th>登録日</th>
        <th>操作</th>
      </tr>
    </thead>

    <tbody>

          <tr>
            <td><%= @user.id %></td>
            <td><%= @user.name %></td>
            <td><%= @user.email %></td>
            <td><%= @user.status_label %></td>
            <td><%= @user.admin? ? "管理者" : "一般" %></td>
            <td><%= @user.posts.count %></td>
            <td><%= @user.communities.count %></td>
            <td><%= @user.created_at.strftime("%Y/%m/%d") %></td>
            <td>
              <% if !@user.admin? && current_user != @user %>
                <% if @user.is_active %>
                  <%= link_to "利用停止",
                    admins_user_path(@user),
                    class: "btn btn-danger btn-sm",
                    data: {
                      turbo_method: :patch,
                      turbo_confirm: "ユーザーID: #{@user.id} / ユーザー名: #{@user.name} を利用停止にしますか？"
                    }%>
                <% else %>
                  <%= link_to "利用再開",
                    admins_user_path(@user),
                    class: "btn btn-primary btn-sm",
                    data: {
                      turbo_method: :patch,
                      turbo_confirm: "ユーザーID: #{@user.id}（#{@user.name}）の利用を再開しますか？"
                   } %>
                <% end %>
              <% else %>
                -
              <% end %>
            </td>
          </tr>

    </tbody>
  </table>

  <%= link_to "一覧へ戻る", admins_users_path %>
</div>