<!-- 管理者ログイン経由かを判定 -->
<%= hidden_field_tag :admin_login, true %>

<h2>管理者ログイン</h2>

<%= form_with scope: :user, url: user_session_path, local: true do |f| %>

  <div class="mb-3">
    <%= f.label :email, "メールアドレス" %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password, "パスワード" %><br>
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <div>
    <%= f.submit "管理者ログイン", class: "btn btn-primary" %>
  </div>

<% end %>