<h1>投稿編集</h1>

<% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<% total_sec = @post.time || 0 %>
<% hour = total_sec / 3600 %>
<% min = (total_sec % 3600) / 60 %>
<% sec = total_sec % 60 %>

<%= form_with model: @post do |f| %>
  <div class="form-row">
    <div class="post-column">
      <div class="post-label">日付</div>
      <div class="post-input">
        <%= f.date_field :date %>
      </div>
    </div>

    <div class="post-column">
      <div class="post-label">距離[km]</div>
      <div class="post-input">
        <%= f.text_field :distance %>
      </div>
    </div>

    <div class="post-column">
      <div class="post-label">時間</div>
      <div class="post-input">
        <%= number_field_tag :hour, hour, placeholder: "時", min: 0, class: "time-input" %>
        :
        <%= number_field_tag :min, min, placeholder: "分", min: 0, max: 59, class: "time-input" %>
        :
        <%= number_field_tag :sec, sec, placeholder: "秒", min: 0, max: 59, class: "time-input" %>
      </div>
    </div>

    <div class="post-column memo-column">
      <div class="post-label">メモ/感想</div>
      <div class="post-input">
        <%= f.text_area :memo, rows: 2, class: "memo-textarea" %>
      </div>
    </div>
  </div>

  <%= f.submit "更新する", class: "btn-cancel" %>
  <%= link_to "キャンセル", post_path(@post), class: "btn-cancel" %>
<% end %>