<h1>投稿詳細</h1>

        <div>
        <div class="post-container">
          <table class="post-table">
            <thead>
              <th>日付</th>
              <th>名前</th>
              <th>距離[km]</th>
              <th>時間[秒]</th>
              <th>ペース[秒/km]</th>
              <th>メモ・感想</th>
              <th>コメント</th>
              <th></th>
              <th></th>
            </thead>

            <tbody>
              <tr>
                <td><%= @post.date %></td>
                <td><%= link_to @post.user.name, user_path(@post.user) %></td>
                <td><%= @post.distance %></td>
                <td><%= @post.time %></td>
                <td>
                  <% if @post.distance.present? && @post.distance.to_f > 0 && @post.time.present? %>
                    <%= (@post.time / @post.distance).round(1) %>
                 <% end %>
                </td>
                <td><%= @post.memo %></td>
                <td></td>
                <td><%= link_to "編集", edit_community_post_path(@post) %></td>
                <td>
                  <%= link_to "削除", post_path(@post), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>