<h1>コミュニティ詳細</h1>

<div class="community-show-wrapper">
  <div class="community-container">
    <table class="community-table">
      <thead>
        <tr>
          <th>コミュニティ名</th>
          <th>コミュニティ紹介</th>
          <th>管理者</th>
          <th>メンバー一覧</th>
          <th>投稿一覧</th>
          <th>参加申請</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= @community.name %></td>
          <td><%= @community.introduction %></td>
          <td><%= @community.user.name %></td>
          <td><%= link_to "メンバー", community_community_memberships_path(@community) %></td>
          <td><%= link_to "投稿", community_posts_path(@community) %></td>
          <td><% if @community_membership.nil? %>
                <%= button_to "参加申請",
                  community_community_memberships_path(@community),
                    ethod: :post,
                    data: { turbo_confirm: "このコミュニティに参加申請しますか？" },
                    class: "btn btn-primary" %>

              <% elsif @community_membership.pending? %>
                <button class="btn btn-secondary" disabled>申請中</button>

              <% elsif @community_membership.approved? %>
              <button class="btn btn-success" disabled>参加済み</button>

              <% elsif @community_membership.rejected? %>
                <button class="btn btn-danger" disabled>却下済み</button>
              <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- コミュニティの編集リンク(作成者のみ表示) -->
    <% if @community.user == current_user %>
      <%= link_to "編集", edit_community_path(@community), class: "btn btn-primary px-4" %>
      <%= link_to "削除",
      community_path(@community),
      data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" },
      class: "btn btn-danger" %>
    <% end %>
    <br>
    <%= link_to "一覧に戻る", communities_path, class: "btn btn-outline-secondary" %>
    <br>
    <% if @community.user == current_user %>
    <br>
    <table class="community-table-pending">
      <thead>
        <tr>
          <th>未承認の参加申請</th>
        </tr>
      </thead>
      <tbody>
        <% if @community.community_memberships.pending.any? %>
          <% @community.community_memberships.pending.each do |member| %>
            <tr>
              <td><%= member.user.name %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td>申請者はいません</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>